/* 0003 */
.w3-example img{animation:fade 8s linear infinite}
@keyframes fade{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
/* 0004 */
.w3-example-circle{animation:turning 8s infinite linear}
@keyframes turning{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
/* 0005 */
[title~=w3-example-button]{position:relative;border:none;cursor:pointer;margin:25px 0;max-width:300px;width:100%;height:50px}
.w3-example-button-x{background:#ea0000;box-shadow:0px 5px 0px 0px #750000,0px 10px 5px 0px #999}
.w3-example-button-x:active{top:3px;box-shadow:0px 2px 0px 0px #750000,0px 5px 3px 0px #999}
.w3-example-button-y{background:#109bce;box-shadow:0px 5px 0px 0px #07526e,0px 10px 5px 0px #999}
.w3-example-button-y:active{top:3px;box-shadow:0px 2px 0px 0px #07526e,0px 5px 3px 0px #999}
.w3-example-button-z{background:#8bc34a;box-shadow:0px 5px 0px 0px #006000,0px 10px 5px 0px #999}
.w3-example-button-z:active{top:3px;box-shadow:0px 2px 0px 0px #006000,0px 5px 3px 0px #999}
/* 0006 */
.w3-example-album{position:relative;height:60vh}
.w3-example-album-item{position:absolute;width:19.2%;height:100%;overflow:hidden;transition:transform 0.6s 0.7s,width 0.7s}
.w3-example-album-item-bg{width:100%;height:100%;opacity:0.6}
.w3-example-album-item-bg:before{content:"";position:absolute;left:0;top:-5%;width:100%;height:110%;background-size:cover;background-position:center center;transition:transform 1s;transform:translate3d(0,0,0) scale(1)}
.w3-example-album-item-close-btn{z-index:-1;position:absolute;right:10px;top:10px;width:25px;height:25px;border-radius:50%;background-color:#8bc34a;cursor:pointer;opacity:0}
.w3-example-album-item-close-btn:after{content:"×";opacity:0.6;position:absolute;top:0px;left:6px}
.w3-example-album-item-instr-img{z-index:-1;position:absolute;bottom:0;background-color:#f1f1f1;opacity:0;width:100%;color:black;text-align:right}
.w3-example-album-item.dynamic .w3-example-album-item-close-btn{z-index:1}
.w3-example-album-item.dynamic .w3-example-album-item-instr-img{z-index:1}
.w3-example-album-item:nth-child(1) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0034.jpg)}
.w3-example-album-item:nth-child(2) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0035.jpg)}
.w3-example-album-item:nth-child(3) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0036.jpg)}
.w3-example-album-item:nth-child(4) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0037.jpg)}
.w3-example-album-item:nth-child(5) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0038.jpg)}
.w3-example-album-item:nth-child(2){transform:translate3d(105.2083333333%,0,0)}
.w3-example-album-item:nth-child(3){transform:translate3d(210.4166666667%,0,0)}
.w3-example-album-item:nth-child(4){transform:translate3d(315.6250000000%,0,0)}
.w3-example-album-item:nth-child(5){transform:translate3d(420.8333333333%,0,0)}
.w3-example-album-item.dynamic{z-index:1;width:100%;transform:translate3d(0,0,0);transition:transform 0.6s,width 0.7s 0.7s,z-index 0s}
.w3-example-album-item.dynamic .w3-example-album-item-bg{opacity:1;transform:translate3d(0,0,0);transition:transform 0.6s}
.w3-example-album-item.dynamic .w3-example-album-item-bg:before{transition-delay:0.6s;transform:scale(1.1)}
.w3-example-album-item-bg:hover{opacity:1}
.w3-example-album-item.dynamic .w3-example-album-item-instr-img{opacity:0.6}
.w3-example-album-item.dynamic .w3-example-album-item-close-btn{opacity:1.0}
.w3-example-album-item.forhide{opacity:0;transition:opacity 0.7s}
.w3-example-demo-item{position:absolute;width:19.2%;height:100%;overflow:hidden}
.w3-example-demo-item-bg:before{content:"";position:absolute;left:0;top:-5%;width:100%;height:110%;background-image:url(https://www.wailian.work/images/2018/01/29/0034.jpg)}
.w3-example-demo-item-close-btn{z-index:-1;position:absolute;right:10px;top:10px;width:25px;height:25px;border-radius:50%;background-color:#8bc34a;cursor:pointer}
.w3-example-demo-item-close-btn:after{content:"×";opacity:0.6;position:absolute;top:0px;left:6px}
/* 0007 */
.w3-example-taichi{margin:0 auto;max-width:300px;width:100%;position:relative;animation: rotate infinite linear 8s}
.w3-example-taichi-l{top:25%;left:0;width:50%;height:50%;background-color:white;border-radius:50%;position:absolute;z-index:1}
.w3-example-taichi-l-dot{position:absolute;width:25%;height:25%;background-color:#8bc34a;left:0;right:0;top:0;bottom:0;margin:auto;border-radius:50%}
.w3-example-taichi-r{top:25%;left:50%;width:50%;height:50%;background-color:#8bc34a;border-radius:50%;position:absolute;z-index:1}
.w3-example-taichi-r-dot{position:absolute;width:25%;height:25%;background-color:white;left:0;right:0;top:0;bottom:0;margin:auto;border-radius:50%}
@keyframes rotate {from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
.w3-example-taichi-demo{margin:0 auto;max-width:300px;width:100%;position:relative}
/* 0008 */
.w3-example-macarons{position:relative;min-height:375px;text-align:center}
.w3-example-macarons div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:-125px;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#750000 0px,#750000 10px,transparent 10px,transparent 125px,#07526e 125px,#07526e 135px,transparent 135px,transparent 250px,#006000 250px,#006000 260px,transparent 260px)}
.w3-example-macarons div:before,div:after{display:block;content:"";position:absolute}
.w3-example-macarons div:before{max-width:300px;width:100%;height:50px;bottom:380px;border-top-left-radius:150px 45px;border-top-right-radius:150px 45px;background-color:#ea0000;box-shadow:0 125px 0 #109bce,0 250px 0 #8bc34a}
.w3-example-macarons div:after{max-width:300px;width:100%;height:50px;bottom:310px;border-bottom-left-radius:150px 45px;border-bottom-right-radius:150px 45px;background-color:#ea0000;box-shadow: 0 125px 0 #109bce,0 250px 0 #8bc34a}
.w3-example-macarons-demo-0{position:relative;min-height:120px;text-align:center}
.w3-example-macarons-demo-0 div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:0;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#006000 0px,#006000 10px,transparent 10px)}
.w3-example-macarons-demo-1{position:relative;min-height:120px;text-align:center}
.w3-example-macarons-demo-1 div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:0;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#006000 0px,#006000 10px,transparent 10px)}
.w3-example-macarons-demo-1 div:before{display:block;content:"";position:absolute;max-width:300px;width:100%;height:50px;bottom:380px;border-top-left-radius:150px 45px;border-top-right-radius:150px 45px;background-color:#8bc34a}
.w3-example-macarons-demo-2{position:relative;min-height:150px;text-align:center}
.w3-example-macarons-demo-2 div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:0;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#006000 0px,#006000 10px,transparent 10px)}
.w3-example-macarons-demo-2 div:before,div:after{display:block;content:"";position: absolute}
.w3-example-macarons-demo-2 div:before{max-width:300px;width:100%;height:50px;bottom:380px;border-top-left-radius:150px 45px;border-top-right-radius:150px 45px;background-color:#8bc34a}
.w3-example-macarons-demo-2 div:after{max-width:300px;width:100%;height:50px;bottom:310px;border-bottom-left-radius:150px 45px;border-bottom-right-radius:150px 45px;background-color:#8bc34a}
/* 0009 */
.w3-example-dropdown-menu{min-height:200px}
.w3-example-dropdown-menu nav{height:44px;margin:44px auto;background-color:rgba(23,23,50,0.6)}
.w3-example-dropdown-menu ul{padding:0;list-style:none}
.w3-example-dropdown-menu .main{display:flex;justify-content:center}
.w3-example-dropdown-menu .main>li{margin:0 10%}
.w3-example-dropdown-menu a{text-decoration:none;cursor:pointer;color:#8bc34a;display:block;padding:11px 15px;line-height:22px;transition:background-color 0.5s ease-in-out}
.w3-example-dropdown-menu a:hover{background-color:#631818}
.w3-example-dropdown-menu .drop li{opacity:0;transform-origin:top center}
.w3-example-dropdown-menu .drop li a{background-color:rgba(23,23,50,0.6);padding:11px 15px}
.w3-example-dropdown-menu .drop li a:hover{background-color:#631818}
.w3-example-dropdown-menu .main li:hover .menu-1 li:nth-of-type(1){animation:menu-1 0.3s ease-in-out forwards;animation-delay:0.3s}
.w3-example-dropdown-menu .main li:hover .menu-1 li:nth-of-type(2){animation:menu-1 0.3s ease-in-out forwards;animation-delay:0.6s}
.w3-example-dropdown-menu .main li:hover .menu-1 li:nth-of-type(3){animation:menu-1 0.3s ease-in-out forwards;animation-delay:0.9s}
.w3-example-dropdown-menu .main li:hover .menu-1 li:nth-of-type(4){animation:menu-1 0.3s ease-in-out forwards;animation-delay:1.2s}
.w3-example-dropdown-menu .main li:hover .menu-2 li:nth-of-type(1){animation:menu-2 0.3s ease-in-out forwards;animation-delay:0.3s}
.w3-example-dropdown-menu .main li:hover .menu-2 li:nth-of-type(2){animation:menu-2 0.3s ease-in-out forwards;animation-delay:0.6s}
.w3-example-dropdown-menu .main li:hover .menu-2 li:nth-of-type(3){animation:menu-2 0.3s ease-in-out forwards;animation-delay:0.9s}
.w3-example-dropdown-menu .main li:hover .menu-2 li:nth-of-type(4){animation:menu-2 0.3s ease-in-out forwards;animation-delay:1.2s}
.w3-example-dropdown-menu .main li:hover .menu-3 li:nth-of-type(1){animation:menu-3 0.3s ease-in-out forwards;animation-delay:0.3s}
.w3-example-dropdown-menu .main li:hover .menu-3 li:nth-of-type(2){animation:menu-3 0.3s ease-in-out forwards;animation-delay:0.6s}
.w3-example-dropdown-menu .main li:hover .menu-3 li:nth-of-type(3){animation:menu-3 0.3s ease-in-out forwards;animation-delay:0.9s}
.w3-example-dropdown-menu .main li:hover .menu-3 li:nth-of-type(4){animation:menu-3 0.3s ease-in-out forwards;animation-delay:1.2s}
@keyframes menu-1{from{opacity:0;transform:translateX(30px) rotateY(90deg)}to{opacity:1;transform:translateX(0) rotateY(0)}}
@keyframes menu-2{from{opacity:0;transform:translateX(50px) rotate(-90deg)}to{opacity:1;transform:translateX(0) rotate(0)}}
@keyframes menu-3{from{opacity:0;transform:scale(2)}to{opacity:1;transform:scale(1)}}
@media (max-width:600px){.w3-example-dropdown-menu .main>li{margin:0 3.5%}}
.w3-example-dropdown-menu-demo-0{min-height:200px}
.w3-example-dropdown-menu-demo-0 nav{height:44px;margin:44px auto;background-color:rgba(23,23,50,0.6)}
.w3-example-dropdown-menu-demo-0 ul{padding:0;list-style:none}
.w3-example-dropdown-menu-demo-0 .main{display:flex;justify-content:center}
.w3-example-dropdown-menu-demo-0 a{text-decoration:none;cursor:pointer;color:#8bc34a;display:block;padding:11px 15px;line-height:22px;transition:background-color 0.5s ease-in-out}
.w3-example-dropdown-menu-demo-1{min-height:200px}
.w3-example-dropdown-menu-demo-1 nav{height:44px;margin:44px auto;background-color:rgba(23,23,50,0.6)}
.w3-example-dropdown-menu-demo-1 ul{padding:0;list-style:none}
.w3-example-dropdown-menu-demo-1 .main{display:flex;justify-content:center}
.w3-example-dropdown-menu-demo-1 a{text-decoration:none;cursor:pointer;color:#8bc34a;display:block;padding:11px 15px;line-height:22px;transition:background-color 0.5s ease-in-out}
.w3-example-dropdown-menu-demo-1 a:hover{background-color:#631818}
.w3-example-dropdown-menu-demo-1 .drop li{opacity:0;transform-origin:top center}
.w3-example-dropdown-menu-demo-2{min-height:200px}
.w3-example-dropdown-menu-demo-2 nav{height:44px;margin:44px auto;background-color:rgba(23,23,50,0.6)}
.w3-example-dropdown-menu-demo-2 ul{padding:0;list-style:none}
.w3-example-dropdown-menu-demo-2 .main{display:flex;justify-content:center}
.w3-example-dropdown-menu-demo-2 a{text-decoration:none;cursor:pointer;color:#8bc34a;display:block;padding:11px 15px;line-height:22px;transition:background-color 0.5s ease-in-out}
.w3-example-dropdown-menu-demo-2 a:hover{background-color:#631818}
.w3-example-dropdown-menu-demo-2 .drop li{opacity:0;transform-origin:top center}
.w3-example-dropdown-menu-demo-2 .drop li a{background-color:rgba(23,23,50,0.6);padding:11px 15px}
.w3-example-dropdown-menu-demo-2 .drop li a:hover{background-color:#631818}
.w3-example-dropdown-menu-demo-2 .main li:hover .menu-3 li:nth-of-type(1){animation:menu-3 0.3s ease-in-out forwards;animation-delay:0.3s}
.w3-example-dropdown-menu-demo-2 .main li:hover .menu-3 li:nth-of-type(2){animation:menu-3 0.3s ease-in-out forwards;animation-delay:0.6s}
.w3-example-dropdown-menu-demo-2 .main li:hover .menu-3 li:nth-of-type(3){animation:menu-3 0.3s ease-in-out forwards;animation-delay:0.9s}
.w3-example-dropdown-menu-demo-2 .main li:hover .menu-3 li:nth-of-type(4){animation:menu-3 0.3s ease-in-out forwards;animation-delay:1.2s}
/* 0010 */
.w3-example-3d-rotate-menu{text-align:center;color:rgba(23,23,50,1.0)}
.w3-example-3d-rotate-menu .main>ul{list-style:none;padding:0;position:relative}
.w3-example-3d-rotate-menu .main a{display:block;margin-left:auto;margin-right:auto;background-color:#8bc34a;height:44px;line-height:44px;width:300px;cursor:pointer;background-image:linear-gradient(hsla(0,0%,100%,0.05),hsla(0,0%,0%,0.05));box-shadow:inset 0 0 22px hsla(0,0%,0%,0.25),inset 0 0 44px hsla(0,0%,0%,0.25);transition:0.5s;transform-style:preserve-3d}
.w3-example-3d-rotate-menu .main a:after{position:absolute;background-color:#8bc34a;background-image:linear-gradient(hsla(0,0%,100%,0.25),hsla(0,0%,0%,0.25));box-shadow:inset 0 0 22px hsla(0,0%,0%,0.15),inset 0 0 44px hsla(0,0%,0%,0.65);content:attr(data-title);color:white;left:300px;width:300px;transform:rotateY(90deg);transform-origin:0 0}
.w3-example-3d-rotate-menu .main a:hover{transform:rotateY(-90deg) translateX(-150px) translateZ(150px)}
.w3-example-3d-rotate-menu-demo-0 {text-align:center;color:rgba(23,23,50,1.0)}
.w3-example-3d-rotate-menu-demo-0 .main>ul{list-style:none;padding:0;position:relative}
.w3-example-3d-rotate-menu-demo-0 .main a{display:block;margin-left:auto;margin-right:auto;background-color:#8bc34a;height:44px;line-height:44px;width:300px;cursor:pointer;background-image:linear-gradient(hsla(0,0%,100%,0.05),hsla(0,0%,0%,0.05));box-shadow:inset 0 0 22px hsla(0,0%,0%,0.25),inset 0 0 44px hsla(0,0%,0%,0.25);transition:0.5s;transform-style:preserve-3d}
.w3-example-3d-rotate-menu-demo-1 {text-align:center;color:rgba(23,23,50,1.0)}
.w3-example-3d-rotate-menu-demo-1 .main>ul{list-style:none;padding:0;position:relative}
.w3-example-3d-rotate-menu-demo-1 .main a{display:block;margin-left:auto;margin-right:auto;background-color:#8bc34a;height:44px;line-height:44px;width:300px;cursor:pointer;background-image:linear-gradient(hsla(0,0%,100%,0.05),hsla(0,0%,0%,0.05));box-shadow:inset 0 0 22px hsla(0,0%,0%,0.25),inset 0 0 44px hsla(0,0%,0%,0.25);transition:0.5s;transform-style:preserve-3d}
.w3-example-3d-rotate-menu-demo-1 .main a:after{position:absolute;background-color:#8bc34a;background-image:linear-gradient(hsla(0,0%,100%,0.25),hsla(0,0%,0%,0.25));box-shadow:inset 0 0 22px hsla(0,0%,0%,0.15),inset 0 0 44px hsla(0,0%,0%,0.65);content:attr(data-title);color:white;top:44px;left:0;width:300px}
/* 0011 */
.w3-example-3d-circle-menu{position:relative;max-width:300px;min-height:300px;margin:0 auto}
.w3-example-3d-circle-menu .menu-item,.w3-example-3d-circle-menu .menu-open-button{background:#eeeeee;border-radius:100%;width:100%;height:100%;margin-left:-50%;position:absolute;color:#ffffff;text-align:center;line-height:80px;transform:translate3d(0,0,0);transition:transform ease-out 200ms}
.w3-example-3d-circle-menu .menu-item{background-color:#109bce;cursor:pointer}
.w3-example-3d-circle-menu .menu-open{display:none}
.w3-example-3d-circle-menu .lines{width:31.25%;height:3.75%;background:#596778;display:block;position:absolute;top:50%;left:50%;margin-left:-15.625%;margin-top:-1.875%;transition:transform 200ms}
.w3-example-3d-circle-menu .line-0{transform:translate3d(0,-8px,0)}
.w3-example-3d-circle-menu .line-1{transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu .line-2{transform:translate3d(0,8px,0)}
.w3-example-3d-circle-menu .menu-open:checked+.menu-open-button .line-0{transform:translate3d(0,0,0) rotate(45deg)}
.w3-example-3d-circle-menu .menu-open:checked+.menu-open-button .line-1{transform:translate3d(0,0,0) scale(0.1,1)}
.w3-example-3d-circle-menu .menu-open:checked+.menu-open-button .line-2{transform:translate3d(0,0,0) rotate(-45deg)}
.w3-example-3d-circle-menu .main{margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;max-width:80px;width:100%;max-height:80px;height:100%;text-align:center}
.w3-example-3d-circle-menu .menu-item:hover{background:#eeeeee;color:#3290b1}
.w3-example-3d-circle-menu .menu-open-button{z-index:1;transition-duration:400ms;transform:scale(1.1,1.1) translate3d(0,0,0);cursor:pointer}
.w3-example-3d-circle-menu .menu-open-button:hover{transform:scale(1.2,1.2) translate3d(0,0,0)}
.w3-example-3d-circle-menu .menu-open:checked+.menu-open-button{transition-timing-function:linear;transition-duration:200ms;transform:scale(0.8,0.8) translate3d(0,0,0)}
.w3-example-3d-circle-menu .menu-open:checked~.menu-item:nth-child(3){transition-duration:180ms;transform:translate3d(0.1045125%,-131.2499625%,0)}
.w3-example-3d-circle-menu .menu-open:checked~.menu-item:nth-child(4){transition-duration:280ms;transform:translate3d(113.68325%,-65.594825%,0)}
.w3-example-3d-circle-menu .menu-open:checked~.menu-item:nth-child(5){transition-duration:380ms;transform:translate3d(113.68325%,65.594825%,0)}
.w3-example-3d-circle-menu .menu-open:checked~.menu-item:nth-child(6){transition-duration:480ms;transform:translate3d(0.1045125%,131.2499625%,0)}
.w3-example-3d-circle-menu .menu-open:checked~.menu-item:nth-child(7){transition-duration:580ms;transform:translate3d(-113.5786375%,65.7758%,0)}
.w3-example-3d-circle-menu .menu-open:checked~.menu-item:nth-child(8){transition-duration:680ms;transform:translate3d(-113.787575%,-65.4136875%,0)}
.w3-example-3d-circle-menu-demo-0{position:relative;max-width:300px;min-height:100px;margin:0 auto}
.w3-example-3d-circle-menu-demo-0 .menu-item,.w3-example-3d-circle-menu-demo-0 .menu-open-button{background:#eeeeee;border-radius:100%;width:100%;height:100%;margin-left:-50%;position:absolute;color:#ffffff;text-align:center;line-height:80px;transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-0 .menu-item{background-color:#109bce;cursor:pointer}
.w3-example-3d-circle-menu-demo-0 .menu-open{display:none}
.w3-example-3d-circle-menu-demo-0 .lines{width:31.25%;height:3.75%;background:#596778;display:block;position:absolute;top:50%;left:50%;margin-left:-15.625%;margin-top:-1.875%}
.w3-example-3d-circle-menu-demo-0 .line-0{transform:translate3d(0,-8px,0)}
.w3-example-3d-circle-menu-demo-0 .line-1{transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-0 .line-2{transform:translate3d(0,8px,0)}
.w3-example-3d-circle-menu-demo-0 .menu-open:checked+.menu-open-button .line-0{transform:translate3d(0,0,0) rotate(45deg)}
.w3-example-3d-circle-menu-demo-0 .menu-open:checked+.menu-open-button .line-1{transform:translate3d(0,0,0) scale(0.1,1)}
.w3-example-3d-circle-menu-demo-0 .menu-open:checked+.menu-open-button .line-2{transform:translate3d(0,0,0) rotate(-45deg)}
.w3-example-3d-circle-menu-demo-0 .main{margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;max-width:80px;width:100%;max-height:80px;height:100%;text-align:center}
.w3-example-3d-circle-menu-demo-0 .menu-open-button{z-index:1;cursor:pointer}
.w3-example-3d-circle-menu-demo-1{position:relative;max-width:300px;min-height:100px;margin:0 auto}
.w3-example-3d-circle-menu-demo-1 .menu-item,.w3-example-3d-circle-menu-demo-1 .menu-open-button{background:#eeeeee;border-radius:100%;width:100%;height:100%;margin-left:-50%;position:absolute;color:#ffffff;text-align:center;line-height:80px;transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-1 .menu-item{background-color:#109bce;cursor:pointer}
.w3-example-3d-circle-menu-demo-1 .menu-open{display:none}
.w3-example-3d-circle-menu-demo-1 .lines{width:31.25%;height:3.75%;background:#596778;display:block;position:absolute;top:50%;left:50%;margin-left:-15.625%;margin-top:-1.875%}
.w3-example-3d-circle-menu-demo-1 .line-0{transform:translate3d(0,-8px,0)}
.w3-example-3d-circle-menu-demo-1 .line-1{transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-1 .line-2{transform:translate3d(0,8px,0)}
.w3-example-3d-circle-menu-demo-1 .menu-open:checked+.menu-open-button .line-0{transform:translate3d(0,0,0) rotate(45deg)}
.w3-example-3d-circle-menu-demo-1 .menu-open:checked+.menu-open-button .line-1{transform:translate3d(0,0,0) scale(0.1,1)}
.w3-example-3d-circle-menu-demo-1 .menu-open:checked+.menu-open-button .line-2{transform:translate3d(0,0,0) rotate(-45deg)}
.w3-example-3d-circle-menu-demo-1 .main{margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;max-width:80px;width:100%;max-height:80px;height:100%;text-align:center}
.w3-example-3d-circle-menu-demo-1 .menu-open-button{z-index:1;cursor:pointer}
.w3-example-3d-circle-menu-demo-1 .menu-open:checked+.menu-open-button{transform:scale(0.8,0.8) translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-2{position:relative;max-width:300px;min-height:100px;margin:0 auto}
.w3-example-3d-circle-menu-demo-2 .menu-item,.w3-example-3d-circle-menu-demo-2 .menu-open-button{background:#eeeeee;border-radius:100%;width:100%;height:100%;margin-left:-50%;position:absolute;color:#ffffff;text-align:center;line-height:80px;transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-2 .menu-item{background-color:#109bce;cursor:pointer}
.w3-example-3d-circle-menu-demo-2 .menu-open{display:none}
.w3-example-3d-circle-menu-demo-2 .lines{width:31.25%;height:3.75%;background:#596778;display:block;position:absolute;top:50%;left:50%;margin-left:-15.625%;margin-top:-1.875%}
.w3-example-3d-circle-menu-demo-2 .line-0{transform:translate3d(0,-8px,0)}
.w3-example-3d-circle-menu-demo-2 .line-1{transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-2 .line-2{transform:translate3d(0,8px,0)}
.w3-example-3d-circle-menu-demo-2 .menu-open:checked+.menu-open-button .line-0{transform:translate3d(0,0,0) rotate(45deg)}
.w3-example-3d-circle-menu-demo-2 .menu-open:checked+.menu-open-button .line-1{transform:translate3d(0,0,0) scale(0.1,1)}
.w3-example-3d-circle-menu-demo-2 .menu-open:checked+.menu-open-button .line-2{transform:translate3d(0,0,0) rotate(-45deg)}
.w3-example-3d-circle-menu-demo-2 .main{margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;max-width:80px;width:100%;max-height:80px;height:100%;text-align:center}
.w3-example-3d-circle-menu-demo-2 .menu-item:hover{background:#eeeeee;color:#3290b1}
.w3-example-3d-circle-menu-demo-2 .menu-open-button{z-index:1;cursor:pointer}
.w3-example-3d-circle-menu-demo-2 .menu-open:checked+.menu-open-button{transform:scale(0.8,0.8) translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-2 .menu-item:nth-child(3){transform:translate3d(-131.2499625%,0.1045125%,0)}
.w3-example-3d-circle-menu-demo-2 .menu-item:nth-child(4){transform:translate3d(131.2499625%,0.1045125%,0)}
.w3-example-3d-circle-menu-demo-3{position:relative;max-width:300px;min-height:100px;margin:0 auto}
.w3-example-3d-circle-menu-demo-3 .menu-item,.w3-example-3d-circle-menu-demo-3 .menu-open-button{background:#eeeeee;border-radius:100%;width:100%;height:100%;margin-left:-50%;position:absolute;color:#ffffff;text-align:center;line-height:80px;transform:translate3d(0,0,0);transition:transform ease-out 200ms}
.w3-example-3d-circle-menu-demo-3 .menu-item{background-color:#109bce;cursor:pointer}
.w3-example-3d-circle-menu-demo-3 .menu-open{display:none}
.w3-example-3d-circle-menu-demo-3 .lines{width:31.25%;height:3.75%;background:#596778;display:block;position:absolute;top:50%;left:50%;margin-left:-15.625%;margin-top:-1.875%;transition:transform 200ms}
.w3-example-3d-circle-menu-demo-3 .line-0{transform:translate3d(0,-8px,0)}
.w3-example-3d-circle-menu-demo-3 .line-1{transform:translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-3 .line-2{transform:translate3d(0,8px,0)}
.w3-example-3d-circle-menu-demo-3 .menu-open:checked+.menu-open-button .line-0{transform:translate3d(0,0,0) rotate(45deg)}
.w3-example-3d-circle-menu-demo-3 .menu-open:checked+.menu-open-button .line-1{transform:translate3d(0,0,0) scale(0.1,1)}
.w3-example-3d-circle-menu-demo-3 .menu-open:checked+.menu-open-button .line-2{transform:translate3d(0,0,0) rotate(-45deg)}
.w3-example-3d-circle-menu-demo-3 .main{margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;max-width:80px;width:100%;max-height:80px;height:100%;text-align:center}
.w3-example-3d-circle-menu-demo-3 .menu-item:hover{background:#eeeeee;color:#3290b1}
.w3-example-3d-circle-menu-demo-3 .menu-open-button{z-index:1;transition-duration:400ms;transform:scale(1.1,1.1) translate3d(0,0,0);cursor:pointer}
.w3-example-3d-circle-menu-demo-3 .menu-open-button:hover{transform:scale(1.2,1.2) translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-3 .menu-open:checked+.menu-open-button{transition-timing-function:linear;transition-duration:200ms;transform:scale(0.8,0.8) translate3d(0,0,0)}
.w3-example-3d-circle-menu-demo-3 .menu-open:checked~.menu-item:nth-child(3){transition-duration:180ms;transform:translate3d(-131.2499625%,0.1045125%,0)}
.w3-example-3d-circle-menu-demo-3 .menu-open:checked~.menu-item:nth-child(4){transition-duration:180ms;transform:translate3d(131.2499625%,0.1045125%,0)}
/* 0012 */
.w3-example-multilevel-menu{min-height:150px}
.w3-example-multilevel-menu .navigation ul,.w3-example-multilevel-menu .navigation ul ul,.w3-example-multilevel-menu .navigation ul li{list-style:none;margin:0;padding:0}
.w3-example-multilevel-menu .navigation ul{position:relative;float:left;z-index:1}
.w3-example-multilevel-menu .navigation ul li{float:left;position:relative}
.w3-example-multilevel-menu .navigation ul ul{visibility:hidden;position:absolute;width:100%;top:0;left:100%;z-index:2}
.w3-example-multilevel-menu .navigation ul li:hover>ul{visibility:visible}
.w3-example-multilevel-menu .navigation ul li{float:none}
.w3-example-multilevel-menu .navigation{width:24.99999%}
.w3-example-multilevel-menu .navigation a{display:block;padding:0;padding-left:10px;height:44px;line-height:44px;box-shadow:inset 0 0 22px hsla(0,0%,0%,0.25),inset 0 0 44px hsla(0,0%,0%,0.25);overflow:hidden;text-overflow:ellipsis;cursor:pointer}
.w3-example-multilevel-menu .navigation>ul{width:100%;background-color:#8bc34a}
.w3-example-multilevel-menu .navigation ul li.has-sub>a:after{content:'»';position:absolute;right:0;width:10%;color:#333333;font-size:22px}
.w3-example-multilevel-menu .navigation>ul>li:hover a{background:#109bce}
.w3-example-multilevel-menu-demo-0{min-height:150px;background-color:white;padding:9px 0}
.w3-example-multilevel-menu-demo-0 .navigation ul,.w3-example-multilevel-menu-demo-0 .navigation ul ul,.w3-example-multilevel-menu-demo-0 .navigation ul li{list-style:none;margin:0;padding:0}
.w3-example-multilevel-menu-demo-0 .navigation ul{position:relative;float:left;z-index:1}
.w3-example-multilevel-menu-demo-0 .navigation ul li{float:left;position:relative}
.w3-example-multilevel-menu-demo-0 .navigation ul ul{position:absolute;width:100%;top:0;left:100%;z-index:2}
.w3-example-multilevel-menu-demo-0 .navigation ul li{float:none}
.w3-example-multilevel-menu-demo-0 .navigation{width:24.99999%}
.w3-example-multilevel-menu-demo-0 .navigation a{display:block;padding:0;padding-left:10px;height:44px;line-height:44px;box-shadow:inset 0 0 22px hsla(0,0%,0%,0.25),inset 0 0 44px hsla(0,0%,0%,0.25);overflow:hidden;text-overflow:ellipsis;cursor:pointer}
.w3-example-multilevel-menu-demo-0 .navigation>ul{width:100%;background-color:#8bc34a}
.w3-example-multilevel-menu-demo-0 .navigation ul li.has-sub>a:after{content:'»';position:absolute;right:0;width:10%;color:#333333;font-size:22px}
.w3-example-multilevel-menu-demo-1{min-height:44px}
.w3-example-multilevel-menu-demo-1 .navigation ul,.w3-example-multilevel-menu-demo-1 .navigation ul ul,.w3-example-multilevel-menu-demo-1 .navigation ul li{list-style:none;margin:0;padding:0}
.w3-example-multilevel-menu-demo-1 .navigation ul{position:relative;float:left;z-index:1}
.w3-example-multilevel-menu-demo-1 .navigation ul li{float:left;position:relative}
.w3-example-multilevel-menu-demo-1 .navigation ul ul{visibility:hidden;position:absolute;width:100%;top:0;left:100%;z-index:2}
.w3-example-multilevel-menu-demo-1 .navigation ul li{float:none}
.w3-example-multilevel-menu-demo-1 .navigation{width:24.99999%}
.w3-example-multilevel-menu-demo-1 .navigation a{display:block;padding:0;padding-left:10px;height:44px;line-height:44px;box-shadow:inset 0 0 22px hsla(0,0%,0%,0.25),inset 0 0 44px hsla(0,0%,0%,0.25);overflow:hidden;text-overflow:ellipsis;cursor:pointer}
.w3-example-multilevel-menu-demo-1 .navigation>ul{width:100%;background-color:#8bc34a}
.w3-example-multilevel-menu-demo-1 .navigation ul li.has-sub>a:after{content:'»';position:absolute;right:0;width:10%;color:#333333;font-size:22px}
/* 0014 */
.w3-example-02_0014{position:relative;max-width:300px;min-height:200px}
.w3-example-02_0014 .stage{position:absolute;margin:0 auto;top:0;right:0;bottom:0;left:0;transform-style:preserve-3d}
.w3-example-02_0014 .layer{position:absolute;width:100%;height:100%;transform-style:preserve-3d;animation:rotate_02_0014 8s infinite alternate ease-in-out -7.5s;animation-fill-mode:forwards;transform:rotateY(40deg) rotateX(33deg) translateZ(0)}
.w3-example-02_0014 .layer:after{position:absolute;font-size:220%;content:"Down In Mexcio";margin-left:-40%;margin-top:-45px;left:50%;top:50%;color:whitesmoke;letter-spacing:-2px;text-shadow:4px 0 10px rgba(0,0,0,0.13)}
.w3-example-02_0014 .layer:nth-child(1):after{transform:translateZ(0px)}
.w3-example-02_0014 .layer:nth-child(2):after{transform:translateZ(-1.5px)}
.w3-example-02_0014 .layer:nth-child(3):after{transform:translateZ(-3px)}
.w3-example-02_0014 .layer:nth-child(4):after{transform:translateZ(-4.5px)}
.w3-example-02_0014 .layer:nth-child(5):after{transform:translateZ(-6px)}
.w3-example-02_0014 .layer:nth-child(6):after{transform:translateZ(-7.5px)}
.w3-example-02_0014 .layer:nth-child(7):after{transform:translateZ(-9px)}
.w3-example-02_0014 .layer:nth-child(8):after{transform:translateZ(-10.5px)}
.w3-example-02_0014 .layer:nth-child(9):after{transform:translateZ(-12px)}
.w3-example-02_0014 .layer:nth-child(10):after{transform:translateZ(-13.5px)}
.w3-example-02_0014 .layer:nth-child(11):after{transform:translateZ(-15px)}
.w3-example-02_0014 .layer:nth-child(12):after{transform:translateZ(-16.5px)}
.w3-example-02_0014 .layer:nth-child(13):after{transform:translateZ(-18px)}
.w3-example-02_0014 .layer:nth-child(14):after{transform:translateZ(-19.5px)}
.w3-example-02_0014 .layer:nth-child(15):after{transform:translateZ(-21px)}
.w3-example-02_0014 .layer:nth-child(16):after{transform:translateZ(-22.5px)}
.w3-example-02_0014 .layer:nth-child(17):after{transform:translateZ(-24px)}
.w3-example-02_0014 .layer:nth-child(18):after{transform:translateZ(-25.5px)}
.w3-example-02_0014 .layer:nth-child(19):after{transform:translateZ(-27px)}
.w3-example-02_0014 .layer:nth-child(20):after{transform:translateZ(-28.5px)}
.w3-example-02_0014 .layer:nth-child(n+11):after{text-shadow:6px 0 6px #842b00,5px 5px 5px #642100,0 6px 6px #842b00}
.w3-example-02_0014 .layer:first-child:after{color:#fff;text-shadow:none}
@keyframes rotate_02_0014{100%{transform:rotateY(-40deg) rotateX(-43deg)}}
/* 0015 */
.w3-example-flex-01-02_0015{display:flex;min-height:115px;background-color:#fff}
.w3-example-flex-01-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px}
.w3-example-flex-02-02_0015{display:flex;flex-direction:column;min-height:115px;background-color:#fff}
.w3-example-flex-02-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px}
.w3-example-flex-03-02_0015{display:flex;flex-wrap:wrap;min-height:115px;background-color:#fff}
.w3-example-flex-03-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px}
.w3-example-flex-04-02_0015{display:flex;justify-content:center;min-height:115px;background-color:#fff}
.w3-example-flex-04-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px}
.w3-example-flex-05-02_0015{display:flex;align-items:center;min-height:230px;background-color:#fff}
.w3-example-flex-05-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px;height:115px}
.w3-example-flex-06-02_0015{display:flex;flex-wrap:wrap;align-content:space-between;min-height:460px;background-color:#fff}
.w3-example-flex-06-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px;height:115px}
.w3-example-flex-07-02_0015{display:flex;justify-content:center;align-items:center;min-height:345px;background-color:#fff}
.w3-example-flex-07-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px;height:115px}
.w3-example-flex-08-02_0015{display:flex;min-height:115px;background-color:#fff}
.w3-example-flex-08-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px;height:115px}
.w3-example-flex-11-02_0015{display:flex;min-height:345px;background-color:#fff}
.w3-example-flex-11-02_0015 div{background-color:#444;margin:10px;padding:20px;font-size:20px;line-height:75px;text-align:center;width:100px}