#main .section {
    margin-bottom: 50px;
    min-height: 260px;
    padding: 30px;
    color: white;
    background-image: url("https://luckyguo.oss-cn-beijing.aliyuncs.com/blog/history/lib/images/bg-image-1.jpg");
}