.w3-custom-timeline{position:relative;margin-top:16px}
.w3-custom-timeline::after{content:'';position:absolute;width:1px;background-color:white;top:0;bottom:0;left:50%}
.w3-custom-container{padding:10px 40px;position:relative;width:50%}
.w3-custom-container::after{content:'';position:absolute;width:20px;height:20px;right:-10px;background-color:white;border:4px solid #8bc34a;top:22px;border-radius:50%;z-index:1}
.w3-custom-left{left:0}
.w3-custom-right{left:50%}
.w3-custom-left::before{content:"";height:0;position:absolute;top:22px;width:0;z-index:1;right:30px;border:medium solid white;border-width:10px 0 10px 10px;border-color:transparent transparent transparent white}
.w3-custom-right::before{content:"";height:0;position:absolute;top:22px;width:0;z-index:1;left:30px;border:medium solid white;border-width:10px 10px 10px 0;border-color:transparent white transparent transparent}
.w3-custom-right::after{left:-10px}
.w3-custom-content{padding:10px 20px;background-color:black;position:relative;border-radius:6px;border:1px solid white}
.w3-custom-content h4{margin:0}
@media all and (max-width:600px) {.w3-custom-timeline::after{left:30px}.w3-custom-container{width:100%;padding-left:70px;padding-right:25px}.w3-custom-container::before{left:60px;border:medium solid white;border-width:10px 10px 10px 0;border-color:transparent white transparent transparent}.w3-custom-left::after,.w3-custom-right::after{left:20px}.w3-custom-right{left:0%}}
/* Articles CSS */
/* 2_0003 */
.w3-example img{animation:fade 8s linear infinite}
@keyframes fade{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
/* 2_0004 */
.w3-example-circle{animation:turning 8s infinite linear}
@keyframes turning{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
/* 2_0005 */
[title~=w3-example-button]{position:relative;border:none;cursor:pointer;margin:25px 0;max-width:300px;width:100%;height:50px}
.w3-example-button-x{background:#ea0000;box-shadow:0px 5px 0px 0px #750000,0px 10px 5px 0px #999}
.w3-example-button-x:active{top:3px;box-shadow:0px 2px 0px 0px #750000,0px 5px 3px 0px #999}
.w3-example-button-y{background:#109bce;box-shadow:0px 5px 0px 0px #07526e,0px 10px 5px 0px #999}
.w3-example-button-y:active{top:3px;box-shadow:0px 2px 0px 0px #07526e,0px 5px 3px 0px #999}
.w3-example-button-z{background:#8bc34a;box-shadow:0px 5px 0px 0px #006000,0px 10px 5px 0px #999}
.w3-example-button-z:active{top:3px;box-shadow:0px 2px 0px 0px #006000,0px 5px 3px 0px #999}
/* 2_0006 */
.w3-example-album{position:relative;height:60vh}
.w3-example-album-item{position:absolute;width:19.2%;height:100%;overflow:hidden;transition:transform 0.6s 0.7s,width 0.7s}
.w3-example-album-item-bg{width:100%;height:100%;opacity:0.6}
.w3-example-album-item-bg:before{content:"";position:absolute;left:0;top:-5%;width:100%;height:110%;background-size:cover;background-position:center center;transition:transform 1s;transform:translate3d(0,0,0) scale(1)}
.w3-example-album-item-close-btn{z-index:-1;position:absolute;right:10px;top:10px;width:25px;height:25px;border-radius:50%;background-color:#8bc34a;cursor:pointer;opacity:0}
.w3-example-album-item-close-btn:after{content:"×";opacity:0.6;position:absolute;top:0px;left:6px}
.w3-example-album-item-instr-img{z-index:-1;position:absolute;bottom:0;background-color:#f1f1f1;opacity:0;width:100%;color:black;text-align:right}
.w3-example-album-item.dynamic .w3-example-album-item-close-btn{z-index:1}
.w3-example-album-item.dynamic .w3-example-album-item-instr-img{z-index:1}
.w3-example-album-item:nth-child(1) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0034.jpg)}
.w3-example-album-item:nth-child(2) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0035.jpg)}
.w3-example-album-item:nth-child(3) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0036.jpg)}
.w3-example-album-item:nth-child(4) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0037.jpg)}
.w3-example-album-item:nth-child(5) .w3-example-album-item-bg:before{background-image:url(https://www.wailian.work/images/2018/01/29/0038.jpg)}
.w3-example-album-item:nth-child(2){transform:translate3d(105.2083333333%,0,0)}
.w3-example-album-item:nth-child(3){transform:translate3d(210.4166666667%,0,0)}
.w3-example-album-item:nth-child(4){transform:translate3d(315.6250000000%,0,0)}
.w3-example-album-item:nth-child(5){transform:translate3d(420.8333333333%,0,0)}
.w3-example-album-item.dynamic{z-index:1;width:100%;transform:translate3d(0,0,0);transition:transform 0.6s,width 0.7s 0.7s,z-index 0s}
.w3-example-album-item.dynamic .w3-example-album-item-bg{opacity:1;transform:translate3d(0,0,0);transition:transform 0.6s}
.w3-example-album-item.dynamic .w3-example-album-item-bg:before{transition-delay:0.6s;transform:scale(1.1)}
.w3-example-album-item-bg:hover{opacity:1}
.w3-example-album-item.dynamic .w3-example-album-item-instr-img{opacity:0.6}
.w3-example-album-item.dynamic .w3-example-album-item-close-btn{opacity:1.0}
.w3-example-album-item.forhide{opacity:0;transition:opacity 0.7s}
.w3-example-demo-item{position:absolute;width:19.2%;height:100%;overflow:hidden}
.w3-example-demo-item-bg:before{content:"";position:absolute;left:0;top:-5%;width:100%;height:110%;background-image:url(src/area_2/articles/0006/images/01.jpg)}
.w3-example-demo-item-close-btn{z-index:-1;position:absolute;right:10px;top:10px;width:25px;height:25px;border-radius:50%;background-color:#8bc34a;cursor:pointer}
.w3-example-demo-item-close-btn:after{content:"×";opacity:0.6;position:absolute;top:0px;left:6px}
/* 2_0007 */
.w3-example-taichi{margin:0 auto;max-width:300px;width:100%;position:relative;animation: rotate infinite linear 8s}
.w3-example-taichi-l{top:25%;left:0;width:50%;height:50%;background-color:white;border-radius:50%;position:absolute;z-index:1}
.w3-example-taichi-l-dot{position:absolute;width:25%;height:25%;background-color:#8bc34a;left:0;right:0;top:0;bottom:0;margin:auto;border-radius:50%}
.w3-example-taichi-r{top:25%;left:50%;width:50%;height:50%;background-color:#8bc34a;border-radius:50%;position:absolute;z-index:1}
.w3-example-taichi-r-dot{position:absolute;width:25%;height:25%;background-color:white;left:0;right:0;top:0;bottom:0;margin:auto;border-radius:50%}
@keyframes rotate {from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
.w3-example-taichi-demo{margin:0 auto;max-width:300px;width:100%;position:relative}
/* 2_0008 */
.w3-example-macarons{position:relative;min-height:375px;text-align:center}
.w3-example-macarons div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:-125px;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#750000 0px,#750000 10px,transparent 10px,transparent 125px,#07526e 125px,#07526e 135px,transparent 135px,transparent 250px,#006000 250px,#006000 260px,transparent 260px)}
.w3-example-macarons div:before,div:after{display:block;content:"";position:absolute}
.w3-example-macarons div:before{max-width:300px;width:100%;height:50px;bottom:380px;border-top-left-radius:150px 45px;border-top-right-radius:150px 45px;background-color:#ea0000;box-shadow:0 125px 0 #109bce,0 250px 0 #8bc34a}
.w3-example-macarons div:after{max-width:300px;width:100%;height:50px;bottom:310px;border-bottom-left-radius:150px 45px;border-bottom-right-radius:150px 45px;background-color:#ea0000;box-shadow: 0 125px 0 #109bce,0 250px 0 #8bc34a}
.w3-example-macarons-demo-0{position:relative;min-height:120px;text-align:center}
.w3-example-macarons-demo-0 div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:0;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#006000 0px,#006000 10px,transparent 10px)}
.w3-example-macarons-demo-1{position:relative;min-height:120px;text-align:center}
.w3-example-macarons-demo-1 div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:0;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#006000 0px,#006000 10px,transparent 10px)}
.w3-example-macarons-demo-1 div:before{display:block;content:"";position:absolute;max-width:300px;width:100%;height:50px;bottom:380px;border-top-left-radius:150px 45px;border-top-right-radius:150px 45px;background-color:#8bc34a}
.w3-example-macarons-demo-2{position:relative;min-height:150px;text-align:center}
.w3-example-macarons-demo-2 div{position:absolute;left:50%;top:50%;margin-left:-150px;margin-top:0;height:375px;max-width:300px;width:100%;background-image:linear-gradient(transparent 0px,#006000 0px,#006000 10px,transparent 10px)}
.w3-example-macarons-demo-2 div:before,div:after{display:block;content:"";position: absolute}
.w3-example-macarons-demo-2 div:before{max-width:300px;width:100%;height:50px;bottom:380px;border-top-left-radius:150px 45px;border-top-right-radius:150px 45px;background-color:#8bc34a}
.w3-example-macarons-demo-2 div:after{max-width:300px;width:100%;height:50px;bottom:310px;border-bottom-left-radius:150px 45px;border-bottom-right-radius:150px 45px;background-color:#8bc34a}
@media (max-width:600px){.w3-example-macarons div{margin-left:-50%}}